.button {
  @extend .text-button1;
  @extend .text-primary;
  text-decoration: none;
  border: 0;

  &__image {
    margin-left: 1rem;
    transition: transform 0.1s ease-in-out;
  }

  &:hover,
  &:focus {
    outline: none;

    .button__image {
      transform: translateX(0.5rem);
    }
  }

  &:active {
    outline: none;

    .button__image {
      transform: translateX(1rem);
    }
  }
}
