.calendar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-color: var(--color-bgDark);
  background-image: url("../images/contact-background.png");
  background-position: right center;
  background-size: auto 75%;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  align-items: center;
}
