.footer {
  &__holder {
    border: solid 0.0625rem var(--color-border);
    padding: 0;

    display: flex;
  }

  &__half {
    width: 50%;

    &--left {
      @extend .footer__half;
      border-right: solid 0.0625rem var(--color-border);
    }

    &--right {
      @extend .footer__half;
      padding: 2.5rem;
    }

    &--leftFull {
      @extend .footer__half--left;
      padding: 2.5rem;
    }
  }

  &__top {
    padding: 2.5rem;
  }

  &__rightTop {
    padding: 2.5rem;
  }

  &__rightBottom {
    border-top: solid 0.0625rem var(--color-border);
    padding: 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    @extend .text-white;
    text-decoration: none;
    transition: color 0.1s ease-in-out;

    &:hover,
    &:focus {
      outline: none;
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-secondary);
    }
  }

  &__h1 {
    @extend .text-white;
    letter-spacing: -0.02em;
    margin: 0 0 1.5rem;
  }

  &__h3 {
    @extend .text-gradient;
    margin: 0 0 2.5rem;
  }

  &__h4 {
    @extend .text-white;
    margin: 0 0 1.5rem;
  }
  &__image {
    width: 100%;
  }

  &__contactInfo {
    margin-bottom: 2.5rem;
  }

  &__contact {
    margin-bottom: 0.625rem;
    &--sub {
      margin: 0;
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    margin-right: 1.875rem;

    svg {
      height: 100%;
      width: 100%;
    }

    path {
      transition: fill 0.1s ease-in-out;
    }

    &:active {
      outline: none;

      path {
        fill: var(--color-secondary);
      }
    }

    &--dribbble {
      @extend .footer__icon;
      &:hover,
      &:focus {
        path {
          fill: #ea4c89;
        }
      }
    }

    &--insta {
      @extend .footer__icon;
      &:hover,
      &:focus {
        path {
          fill: #f10176;
        }
      }
    }

    &--fb {
      @extend .footer__icon;
      &:hover,
      &:focus {
        path {
          fill: #4267b2;
        }
      }
    }

    &--github {
      @extend .footer__icon;
      &:hover,
      &:focus {
        path {
          fill: var(--color-white75);
        }
      }
    }

    &--medium {
      @extend .footer__icon;
      &:hover,
      &:focus {
        path {
          fill: #e8f3ec;
        }
      }
    }
  }
}
