.parallax {
  position: absolute;
  top: 0;
  bottom: -3000px;
  left: 0;
  right: 0;
  overflow: hidden;

  background-image: url("../images/parallax-background.svg");
  background-size: 100%;
  pointer-events: none;

  &__trigger {
    overflow: hidden;
  }
}
