#projectsLanding {
  width: 100%;
  height: 100vh;
  background-color: var(--color-brandLight);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projects {
    &__h1 {
      @extend .text-portfolio;
      @extend .text-white;
      margin: 0 0 0.625rem;
    }
  }
}
