// font-face rules. Do not forget to include font-display: swap in all rules
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProBold.woff2") format("woff2"),
    url("../fonts/SofiaProBold.woff") format("woff"),
    url("../fonts/SofiaProBold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProSemiBold.woff2") format("woff2"),
    url("../fonts/SofiaProSemiBold.woff") format("woff"),
    url("../fonts/SofiaProSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProRegular.woff2") format("woff2"),
    url("../fonts/SofiaProRegular.woff") format("woff"),
    url("../fonts/SofiaProRegular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProLight.woff2") format("woff2"),
    url("../fonts/SofiaProLight.woff") format("woff"),
    url("../fonts/SofiaProLight.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Regular.woff2") format("woff2"),
    url("../fonts/SourceSerifPro-Regular.woff") format("woff"),
    url("../fonts/SourceSerifPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

// Set backup font faces
$SofiaPro: "Sofia Pro", Frutiger, "Frutiger Linotype", Univers, Calibri,
  "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
  "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
  Helvetica, Arial, sans-serif;
$SourceSerifPro: "Source Serif Pro", Cambria, "Hoefler Text", Utopia,
  "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman",
  serif;

// Overrides all default text styles

h1 {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.3em;
}

h2 {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 1.3em;
}

h3 {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3em;
}

h4 {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}

h5 {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.text-body1 {
  font-family: $SourceSerifPro;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8em;
  margin-bottom: 1rem;
}

.text-body2 {
  font-family: $SourceSerifPro;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.7em;
}

.text-label {
  font-family: $SofiaPro;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.3em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.text-pageNumber {
  @extend .text-label;
  letter-spacing: 0.08em;
}
.text-backed {
  font-family: $SofiaPro;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 1.3em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.text-button1 {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1em;
}

.text-button2 {
  font-family: $SofiaPro;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
}

.text-scroll {
  font-family: $SofiaPro;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.4em;
}

.text-start {
  @extend .text-scroll;
  font-weight: 400;
}

.text-contact {
  font-family: $SofiaPro;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.7em;
}

.text-nextStop {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.text-portfolio {
  font-family: $SofiaPro;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.text-clientInfo {
  font-family: $SofiaPro;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7em;
}

.text-lineBefore {
  position: relative;
  display: flex;
  align-items: center;

  &:before {
    position: absolute;
    left: -2.375rem;
    content: "";
    width: 1.875rem;
    height: 0.0625rem;
    background-color: var(--color-white20);
  }
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-white {
  color: var(--color-white);
}

.text-white20 {
  color: var(--color-white20);
}

.text-white30 {
  color: var(--color-white30);
}

.text-white40 {
  color: var(--color-white40);
}

.text-white50 {
  color: var(--color-white50);
}

.text-white60 {
  color: var(--color-white60);
}

.text-white75 {
  color: var(--color-white75);
}

.text-black20 {
  color: var(--color-black20);
}

.text-brand {
  color: var(--color-brand, var(--color-primary));
}

.text-gradient {
  /* stylelint-disable-next-line */
  background: -webkit-linear-gradient(
    0deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  background: -o-gradient(transparent, transparent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--color-primary);
}
